<h3> <%= @movie_info_hash[:title] %> </h3>
<p> Rating: <%= @movie_info_hash[:rating] %> </p>

<p> Year Released: <%= @movie_info_hash[:year] %> </p>

<p> Synopsis: <%= @movie_info_hash[:synopsis] %> </p>

<p> Genre: <%= @movie_info_hash[:genre] %> </p>

<p> Studio: <%= @movie_info_hash[:studio] %> </p>
